* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #09090a;
  height: 100vh;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 48px;
}
.day div {
  margin-bottom: 8px;
  font-family: "Roboto Mono";
  font-size: 20px;
  line-height: 125%;
  color: #a1a1aa;
  text-align: center;
}
.habit {
  height: 64px;
  width: 64px;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.habits {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 57px;
}
#form-habits {
  display: flex;
  padding: 0 48px;
}
.days {
  display: flex;
  margin-left: 32px;
  gap: 48px;
}
.day {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

button {
  color: #fff;
  border: 1px solid #8b5cf6;
  padding: 16px 24px;
  background-color: transparent;
  border-radius: 8px;

  display: flex;
  align-items: center;
  gap: 12px;

  font-family: "inter";
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
}
input {
  appearance: none;
  -webkit-appearance: none;
  background: #18181b;
  height: 64px;
  width: 64px;
  border: 2px solid #27272a;
  border-radius: 8px;
}
input:checked {
  background-color: #8b5cf6;
  border: 2px solid #a78bfa;
}
